
<% content_for :servers_slide_active do %>
  active
<% end %>

<style>
  .table tbody tr td{
    vertical-align: middle;
  }
  .table tbody tr th{
    vertical-align: middle;
  }
</style>

<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Address</th>
    <th>Port</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <% @servers.each do |server| %>
    <tr>
      <th scope="row"><%= server.id %></th>
      <td><%= server.address %></td>
      <td><%= server.port %></td>
      <td>
        <button type="button" class="btn btn-success" onclick="CheckServer(<%= server.id %>)">测试连接</button>
        <%= link_to '编辑', edit_server_path(server), type: "button", class: "btn btn-default" %>
        <%= link_to '删除', server_path(server), method: :delete, data: { confirm: 'Are you sure?' }, type: "button", class: "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div>
  <%= link_to '新建服务器', new_server_path, type: "button", class: "btn btn-primary" %>
</div>

<br>

<div class="panel panel-default">
  <div class="panel-heading">服务器响应:</div>
  <div id="result" class="panel-body">
    ...
  </div>
</div>

<script>
function CheckServer (id) {
    var source = new EventSource("/live/checkserver?id="+id);
    source.onmessage = function (e) {
        console.log(e)
        document.getElementById("result").innerHTML = e.data+"<br>"+document.getElementById("result").innerHTML
    }
    source.onopen = function () {
        document.getElementById("result").innerHTML = ""
        console.log("Server open")
    }
    source.addEventListener("error", function (e) {
        console.log(e)
        document.getElementById("result").innerHTML = e.data+"<br>"+document.getElementById("result").innerHTML
        document.getElementById("result").innerHTML = "服务器连接失败"+"<br>"+document.getElementById("result").innerHTML
    }, false)
    source.addEventListener("close", function (e) {
        source.close()
        console.log("Server close")
    }, false)
}
</script>