Publishers
<ul>
    <% @publishers.each do |publisher| %>
        <li>
            <%= publisher.project.title %>: 
            <%= publisher.title %>
            <input type="checkbox" disabled <% if publisher.published %>checked<% end %> > 
            <% if publisher.published %>publishtime: <%= publisher.publish_time.to_s %><% end %>
        </li>
        <% publisher.publisher_servers.each do |server| %>
            <li>发布到: <%= server.server.address %>:<%= server.server.port %></li>
        <% end %>
        <li>
            <%= link_to '删除', publisher_path(publisher),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
            <button type="button" onclick="toPublish(<%= publisher.id %>)">发布</button>
        </li>
        <br>
    <% end %>
</ul>
<%= link_to '回到主页', root_path %>

<div id="result"></div>

<script>
function toPublish (id) {
    var source = new EventSource("/live/publishproject?id="+id);
    source.onmessage = function (e) {
        console.log(e)
        document.getElementById("result").innerHTML+= (e.data+"<br>")
    }
    source.onopen = function () {
        console.log("Server open")
    }
    source.addEventListener("close", function (e) {
        source.close()
        console.log("Server close")
    }, false)
}
</script>