<% content_for :publishers_slide_active do %>
    active
<% end %>

<style>
    .table tbody tr td {
        vertical-align: middle;
    }

    .table tbody tr th {
        vertical-align: middle;
    }
</style>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Project</th>
        <th>Title</th>
        <th>Servers</th>
        <th>Operation</th>
        <th>Published</th>
    </tr>
    </thead>
    <tbody>
    <% @publishers.each do |publisher| %>
        <tr>
            <th scope="row"><%= publisher.project.title unless publisher.project.nil? %></th>
            <td><%= publisher.title %></td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle"
                            onmouseover="document.getElementById('menu<%= publisher.id %>').style.display='block'"
                            onmouseout="document.getElementById('menu<%= publisher.id %>').style.display='none'"
                    >
                        共<%= publisher.project.publisher_servers.size unless publisher.project.nil? %>台服务器
                    </button>
                    <ul id="menu<%= publisher.id %>" class="dropdown-menu">
                        <% unless publisher.project.nil? %>
                            <% publisher.project.publisher_servers.each do |server| %>
                                <% unless server.server.nil? %>
                                    <li class="list-group-item"><%= server.server.address %></li>
                                <% end %>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </td>
            <td>
                <%= link_to '删除', publisher_path(publisher), method: :delete, data: {confirm: 'Are you sure?'}, type: "button", class: "btn btn-danger" %>
                <% unless publisher.project.nil? || (@current_user.level <= 100 && publisher.project.env_level == 0) %>
                    <button type="button" class="btn btn-primary" onclick="toPublish(<%= publisher.id %>)">发布</button>
                <% end %>
            </td>
            <td>
                <% if publisher.published %>
                    <%= publisher.publish_time %>
                <% else %>
                    --
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<div class="panel panel-default">
    <div class="panel-heading">服务器响应:</div>
    <div id="result" class="panel-body">
        ...
    </div>
</div>

<%= will_paginate @publishers, renderer: BootstrapPagination::Rails %>

<script>
    function toPublish(id) {
        var source = new EventSource("/live/publishproject?id=" + id);
        source.onmessage = function (e) {
            console.log(e)
            document.getElementById("result").innerHTML = e.data + "<br>" + document.getElementById("result").innerHTML
        }
        source.onopen = function () {
            document.getElementById("result").innerHTML = ""
            console.log("Server open")
        }
        source.addEventListener("error", function (e) {
            console.log(e)
            document.getElementById("result").innerHTML = e.data + "<br>" + document.getElementById("result").innerHTML
            document.getElementById("result").innerHTML = "发布失败" + "<br>" + document.getElementById("result").innerHTML
        }, false)
        source.addEventListener("close", function (e) {
            source.close()
            console.log("Server close")
        }, false)
    }
</script>