new Publisher<br>
<%= form_for [@project, @project.publishers.build], url: {action: "create"} do |f| %>
    project:<%= f.text_field :project_id %><br>
    title:<%= f.text_field :title %><br>
    publisher_servers:<br>
    <select id='publisher_servers' name='publisher_servers[]' multiple='multiple' size='10'>
        <%  @servers.each do |server| %>
            <option value="<%= server.id %>"><%= server.address %>:<%= server.port %></option>
        <% end %>
    </select>
    <%= f.submit "submit" %>
<% end %>