
<%= form_for [@project, @project.project_extend_files.build], url: {action: "create"} do |f| %>
  <%= f.text_field :project_id, class: "hidden" %>
  <div class="form-group">
    <label>文件名</label>
    <%= f.text_field :filename, type: "text", class: "form-control", placeholder: "文件名，包含路径" %>
  </div>
  <div class="form-group">
    <label>内容</label>
    <%= f.text_area :content, type: "text", class: "form-control", placeholder: "文件内容", rows: "6" %>
  </div>
  <%= f.submit "保存", class: "btn btn-primary" %>
  <%= link_to '取消', project_path(@project), type: "button", class: "btn btn-default" %>
<% end %>