
<% content_for :projects_slide_active do %>
  active
<% end %>

<%= form_for @project, url: {action: "update"} do |f| %>
  <div class="form-group">
    <label>Title</label>
    <%= f.text_field :title, type: "text", class: "form-control", placeholder: "项目名称" %>
  </div>
  <div class="form-group">
    <label>Description</label>
    <%= f.text_field :description, type: "text", class: "form-control", placeholder: "项目描述" %>
  </div>
  <div class="form-group">
    <label>Url</label>
    <%= f.text_field :git_url, type: "text", class: "form-control", placeholder: "Git仓库地址" %>
  </div>
  <div class="form-group">
    <label>Version</label>
    <%= f.text_field :git_version, type: "text", class: "form-control", placeholder: "项目分支或版本" %>
  </div>
  <div class="form-group">
    <label>IncludedFiles</label>
    <%= f.text_field :file_included, type: "text", class: "form-control", placeholder: "仅添加的文件或文件夹，以;分隔" %>
  </div>
  <div class="form-group">
    <label>ExcludableFiles</label>
    <%= f.text_field :file_excludable, type: "text", class: "form-control", placeholder: "排除的文件或文件夹，以;分隔" %>
  </div>
  <div class="form-group">
    <label>TargetDeployPath</label>
    <%= f.text_field :target_deploy_path, type: "text", class: "form-control", placeholder: "目标部署地址" %>
  </div>
  <div class="form-group">
    <label>TargetBackupPath</label>
    <%= f.text_field :target_backup_path, type: "text", class: "form-control", placeholder: "目标备份地址" %>
  </div>
  <div class="form-group">
    <label>TaskPreCheckout</label>
    <%= f.text_field :task_pre_checkout, type: "text", class: "form-control", placeholder: "检出前脚本任务，以;分隔" %>
  </div>
  <div class="form-group">
    <label>TaskPostCheckout</label>
    <%= f.text_field :task_post_checkout, type: "text", class: "form-control", placeholder: "检出后脚本任务，以;分隔" %>
  </div>
  <div class="form-group">
    <label>TaskPreDeploy</label>
    <%= f.text_field :task_pre_deploy, type: "text", class: "form-control", placeholder: "部署前脚本任务，以;分隔" %>
  </div>
  <div class="form-group">
    <label>TaskPostDeploy</label>
    <%= f.text_field :task_post_deploy, type: "text", class: "form-control", placeholder: "部署后脚本任务，以;分隔" %>
  </div>
  <div class="form-group">
    <label>目标服务器</label>
    <select id='publisher_servers' name='publisher_servers[]' multiple='multiple' size='10' class="form-control">
      <% @servers.each do |server| %>
        <% if check_is_in_project_servers(server, @project.publisher_servers) %>
          <option selected value="<%= server.id %>"><%= server.address %>:<%= server.port %></option>
        <% else %>
          <option value="<%= server.id %>"><%= server.address %>:<%= server.port %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <%= f.submit "修改", class: "btn btn-primary" %>
  <%= link_to '取消', projects_path, type: "button", class: "btn btn-default" %>
<% end %>