
<ul>
    <% @projects.each do |project| %>
        <li><%= project.title %>
        <button type="button" onclick="CheckProject(<%= project.id %>)">检出代码</button>
        <%= link_to '查看', project_path(project) %>
        <%= link_to '编辑', edit_project_path(project) %>
        <%= link_to '删除', project_path(project),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
        <%= link_to '新建发布', new_publisher_path+"?project_id="+project.id.to_s %>
        </li>
    <% end %>
</ul>
<%= link_to '新建', new_project_path %>

<div id="result"></div>

<script>
function CheckProject (id) {
    var source = new EventSource("/live/checkoutproject?id="+id);
    source.onmessage = function (e) {
        console.log(e)
        document.getElementById("result").innerHTML+= (e.data+"<br>")
    }
    source.onopen = function () {
        console.log("Server open")
    }
    source.addEventListener("close", function (e) {
        source.close()
        console.log("Server close")
    }, false)
}
</script>