
<% content_for :projects_slide_active do %>
  active
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="text-danger">(必填)</span><%= @project.title %></h3>
  </div>
  <div class="panel-body">
      项目描述: <%= @project.description %><br>
      <span class="text-danger">(必填)</span>Git仓库地址: <%= @project.git_url %><br>
      代码版本: <%= @project.git_version %><br>
      仅包括文件: <%= @project.file_included %><br>
      排除文件: <%= @project.file_excludable %><br>
      <span class="text-danger">(必填)</span>部署路径: <%= @project.target_deploy_path %><br>
      <span class="text-danger">(必填)</span>备份路径: <%= @project.target_backup_path %><br>
      检出前脚本: <%= @project.task_pre_checkout %><br>
      检出后脚本: <%= @project.task_post_checkout %><br>
      部署前脚本: <%= @project.task_pre_deploy %><br>
      部署后脚本: <%= @project.task_post_deploy %><br>
  </div>
</div>
<div class="list-group">
  <li class="list-group-item disabled"><span class="text-danger">(必填)</span>目标服务器:</li>
  <% @project.publisher_servers.each do |server| %>
    <li class="list-group-item">
      <%= server.server.address %>:<%= server.server.port %>
    </li>
  <% end %>
</div>
<div class="list-group">
  <li class="list-group-item disabled">附加文件:</li>
  <% @project.project_extend_files.each do |file| %>
    <li class="list-group-item">
      <%= file.filename %>
      <%= link_to '编辑', edit_project_extend_file_path(file), type: "button", class: "btn btn-default" %>
      <%= link_to '删除', project_extend_file_path(file), method: :delete, data: { confirm: 'Are you sure?' }, type: "button", class: "btn btn-danger" %></li>
  <% end %>
</div>

<%= link_to '发布', new_publisher_path+"?project_id="+@project.id.to_s, type: "button", class: "btn btn-primary" %>
<%= link_to '新建附加文件', new_project_extend_file_path+'?project_id='+@project.id.to_s, class: "btn btn-default" %>
<%= link_to '编辑', edit_project_path(@project), type: "button", class: "btn btn-default" %>
<%= link_to '返回列表', projects_path, type: "button", class: "btn btn-default" %>