<h1>ControlPanel#index</h1>
<p>Find me in app/views/control_panel/index.html.erb</p>
hi, <%= @current_user.username %>!
<%= form_tag('/users/logout', method: 'post') do %>
  <%= submit_tag('logout') %>
<% end %>
<p><%= @status %></p>
<p><%= @local_cpu_usage %></p>
<a href="/servers">服务器列表</a>