<style>
    .table tbody tr td {
        vertical-align: middle;
    }

    .table tbody tr th {
        vertical-align: middle;
    }
</style>

<div id="app">
    <div v-if="local_server_status.system.description=='Linux'" class="panel panel-default">
        <div class="panel-body">
            {{ local_server_status.system.description }} | {{ local_server_status.cpu.model }} |
            {{ (parseInt(local_server_status.memory.mem)/1073741824).toFixed(2) }}G
        </div>
    </div>

    <% if @publishers.size > 0 %>
        <div class="panel panel-warning" onclick="window.location = '/publishers'">
            <div class="panel-heading">
                <h3 class="panel-title">未完成的发布</h3>
            </div>
            <div class="panel-body">
                <% @publishers.each do |publisher| %>
                    <button type="button" class="btn btn-default" style="margin: 2px 0 2px 0" onclick="window.location = '/publishers'">
                        <%= publisher.title %>  <span class="label label-default"><%= publisher.project.title unless publisher.project.nil? %></span>
                    </button>
                <% end %>
            </div>
        </div>
    <% end %>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">最近的活动</h3>
        </div>
        <div class="panel-body list-group">
            <% @logs.each do |log| %>
                <li class="list-group-item">
                    <span class="text-primary"><%= log.user.username unless log.user.nil? %></span>
                    @<span class="text-muted"><%= log.created_at.getlocal %></span>:
                    <span class="text-danger"><%= log.job %></span>-
                    <span class="text-muted"><%= log.target %></span>
                </li>
            <% end %>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            local_server_status: <%== @local_server_status %>,
        },
        created: function () {
        },
    })
</script>